@import "tailwindcss";

@source "../../node_modules/flowbite-svelte";
@plugin "daisyui" {
  themes: sunset;
}

@font-face {
  font-family: "Monaspace Argon";
  src:
    url("/fonts/monaspace-argon.woff2") format("woff2"),
    url("/fonts/monaspace-argon.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --default-font-family: "Monaspace Argon", monospace;
    --font-sans: "Monaspace Argon", monospace;
    --font-mono: "Monaspace Argon", monospace;
  }

  html,
  body {
    font-family: var(--default-font-family);
  }
}
